# Dependencias de Node
node_modules/

# Builds
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configs de editor / sistema
.DS_Store
.vscode/
.idea/

# Entornos
.env
.env.local
.env.development
.env.production
.env.test

# Otros
*.log
